asjdk.json
[{"id":"4028d527ea21e5b0","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"57181766fd51169c","type":"inject","z":"4028d527ea21e5b0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["1f11895d3f870c60"]]},{"id":"b35a39699ad51296","type":"debug","z":"4028d527ea21e5b0","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":280,"wires":[]},{"id":"1f11895d3f870c60","type":"http request","z":"4028d527ea21e5b0","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8085/data.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":290,"y":160,"wires":[["38d465eaeececa5f"]]},{"id":"d685960ee5504860","type":"change","z":"4028d527ea21e5b0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.**[id=46].Value","tot":"jsonata","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["b35a39699ad51296"]]},{"id":"38d465eaeececa5f","type":"json","z":"4028d527ea21e5b0","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["d685960ee5504860"]]}]
